# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.so
dist/
build/
*.egg-info/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment
.env
.env.*
!.env.example

# IDEs
.idea/
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
